<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue todolist</title>
        <!-- RESPONSIVE -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- GOOGLE FONT -->
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap" rel="stylesheet">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- VUE -->
         <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>

        <div id="root">
            <div class="container">
                <h1>
                    {{ titolo }}
                </h1>
                <div class="utente">
                    <input v-model="nuovoitem" v-on:keyup.13="additem"  type="text" placeholder="Scrivi qui">
                    <button @click="additem" type="button" name="button">
                        {{ bottone }}
                    </button>
                </div>
                <ul>
                    <li @click="removeitem(indice)" v-for="(item, indice) in listatodo">
                        <i class="fas fa-check">
                            {{ item }}
                        </i>
                    </li>
                </ul>
            </div>
        </div>
        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
